h1{
  color:black;
  text-align: center;
  padding:4%;
  margin-top: 0;
  font-size: bigger;
}

body { 
  margin: 0;
  background-color: rgba(5, 244, 236, 0.477);
  font-family: sans-serif;
}
.img-center{
  text-align: center;
}
.img-center > img {
  width: 40%;
}

/* Zentriere alle Elemente in dem Container, setze die Höhe und die Breite fest. */
.container-with-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
}

/* Setze den Container mit dem Inhalt vor den Hintergrund, damit können sich
   Elemente überlappen. */
.container-with-bg > div.content {
  color: rgb(11, 11, 11);
  z-index: 1;
}

/* Nimm den Bild-Container aus dem normalen Dokumentenfluss raus, und verstecke
   alles was über das enthaltende Element heraus läuft. */
.container-with-bg > div.bg-img {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

/* Skaliere das Bild auf die volle Breite und zentriere es vertikal. */
.container-with-bg > div.bg-img > img {
  width: 100%;
  transform: translateY(-50%);
}